/********************** Custom CSS **********************/
/********************** Custom CSS **********************/

body {
  max-width: 1200px;
  margin: 0 auto;
  background: #1483B3;
}
.item-avatar img.logo {
  min-width: 460px;
  position: absolute;
  left: -55%;
  top: 0;
}
.item-welcome h1 {
  /* make line-height equal to parent height for vertical-align property to have effect */
  /* http://stackoverflow.com/questions/6254793/center-a-h1-tag-inside-a-div */
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
  font-size: 2em;
  margin: auto;
}
.item-post-details textarea {
  width: 300px;
}
.vco-slider {
  background-color: tan;
}
/*  fix for dark modal backgrounds
    see: https://github.com/twbs/bootstrap/issues/10030 */
.modal-backdrop.fade {
opacity: 0;
filter: alpha(opacity=0);
}
.modal-backdrop.fade.in {
opacity: 0.5;
filter: alpha(opacity=50);
}
.item-avatar img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  max-width: 220px;
  height: 230px;
  margin: 0;
  border: 0;
  padding: 0;
}
.item .row-fluid [class*='span'] {
  padding: 0 10px;
}
.item-small i {
  line-height: 200px;
  height: 200px;
  display: block;
  font-size: 96px;
  text-align: center;
}
.item-small p {
  padding: 0px 20px;
}
.item-footer {
  width: 100%;
  height: 130px;
}
.item-footer > div {
  padding: 10px;
  margin: auto;
  height: 100px;
}
.item-footer > div {
  text-align: center;
}



/* test for nessescity */
.item-content {
  padding: 7px;
}
.item-settings {
  min-width: 480px;
  width: 940px;
  height: 700px;
}
.item-timeline {
  min-width: 480px;
  width: 940px;
  height: 700px;
}


.rounded_inputs input {
  margin: 0 auto;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-bottom: 0;
}
.rounded_inputs input:first-child {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.rounded_inputs input:last-child {
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: solid;
}

.rounded {
  width: 85%;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h1 input[type=text] {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 24pt;
  height: 26pt;
  padding-top: 12px;
  padding-bottom: 3px;
}
p textarea {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  width: 95%;
  height: auto;
}



.slideshow button.zoom {
  position: absolute;
  z-index: 1;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-radius: 50%;
  background: rgba(0,0,0,0.5);
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  left: 50%;
  margin-left: -20px;
}

.slideshow:hover button.zoom {
  opacity: 1;
}



.item-portfolio-details {
  height: auto;
}
.closed-chapter.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.badge {
  text-align: center;
  margin: auto;
}


.item-login i {
  cursor: pointer;
}
.item-login form {
  padding: 10px 20px;
  background: #fff;
}
.item-login input {
  float: left;
  width: 155px;
  margin: 7px auto;
}
.item-login .error {
  line-height: 40px;
  text-align: right;
  color: #b71c44;
}
.item-login .error em {
  font-size: 20px;
  color: #808080;
}
.item-login .success {
  line-height: 40px;
  text-align: right;
  color: #090;
}


/* http://forum.jquery.com/topic/jquery-ui-datepicker-initial-display-none-fixup */
/*#ui-datepicker-div { display: none; }*/
.form-search {
  position: relative;
  left: 5px;
  display: inline;
}
.form-search i{
  position: absolute;
  top: 3px;
  left: 5px;
  color: #555;
  font-weight: bold;
}
.form-search input::-webkit-input-placeholder {
      font-style: italic;
      color: #999 !important;
    }
.form-search input:focus::-webkit-input-placeholder{color:transparent;opacity: 0;
    filter:alpha(opacity=0);}
.form-search input::-moz-placeholder {
      font-style: italic;
      color: #999 !important;
    }
.form-search input:focus::-moz-placeholder{color:transparent;}
.form-search input {
  margin: 0px auto;
  width: 125px;
  font-size: 12px;
  height: 18px;
  font-family: inherit;
  line-height: 14px;
  outline: 0;
  padding:  4px 26px;
}

.form-horizontal .control-value {
  padding-top: 5px;
  line-height: 20px;
  text-indent: 1.2em;
  text-align: left;
}

/* open dropdowns to the left so it doesn't open off-screen */
.dropdown-menu.dropdown-right {
  left:inherit;
  right:0px;
}

ul.chat-box {
  list-style-type:none;
  margin-left: 0px;
  font-size: 1em;
}
ul.chat-box li  {
  clear: both;
  margin-bottom: 1.2em;
}
ul.chat-box li.my-chat-msg {
  text-align: left;
  color: green;
}
ul.chat-box li.others-chat-msg {
  text-align: right;
  color: blue;
}
li .chat-avatar {
  font-size: 0.8em;
  color: black;
}
li.my-chat-msg .chat-avatar {
  padding-right: 0.5em;
  float: left;
}
li.others-chat-msg .chat-avatar {
  padding-left: 0.5em;
  float: right;
}

.ui-datepicker {
  background-color: #ffffff;
}
.ui-datepicker-header {
  background-color: #ffffff;
  border-color: #222222;
}
/***** deleted and disabled table rows *********/
.deleted_data_row { background: rgba(242,103,102,0); }
.disabled_data_row { background: rgba(255,180,94,0); }

.innervent_top_navbar {
  background-color: #272727;
  border: 1px solid #000;
  border-right: 1px solid #333;
  color: #ccc;
  overflow: hidden;
  height:40px;
 }

.dashHead:first-of-type {
  margin-top:0px;
}

#ajax_spinner_modal {
  top: 50%;
  left: 50%;
  /*height: 5em;*/
  opacity: 0.6;
  vertical-align: text-bottom;
  text-align: center;
}

.icon-large,
.icon-2x,
.icon-3x,
.icon-4x {
  vertical-align: middle;
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  display: block;
}
.fixed-to-top {
  position: fixed;
  top: 0;
}
.login {
  float: right;
  padding-left: 3px;
}
.input-mini {
  font-size: 0.8em;
}


.modal.fullscreen {
  position: fixed;
  top:0px;
  left: 0px;
  height:100%;
  width:100%;
  margin:0px;
}

#signin-btn {
  margin:0px;
}


/************ jQuery UI Selectable **************/
.selectable {background: #808080; border: solid black 1px;}
.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.selectable li { margin: 3px; padding: 0.4em; font-size: 0.8em; height: 1em; }

.signin form span { float:left; }
.signin form span a { text-align:left;font-size:small;color:white;}

/****** pagination links (Digg style) **********/
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px; }
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; }
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1; }
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5; }
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033; }
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em; }
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .digg_pagination {
  height: 1%; }
*:first-child + html .digg_pagination {
  overflow: hidden; }

 
th, td { text-align:left; }
th.right, td.right { text-align:right; padding-right: 1.2em; }
table.first-col-right th:first-child, table.first-col-right td:first-child { text-align:right; padding-right: 1.2em; }
table.last-col-left th:last-child, table.last-col-left td:last-child { text-align:left; padding-left: 1.2em; }
table.col-grid td { border-right: 1px solid black;}
table.col-grid td:last-child { border-right: 0px solid black;}
table.display, table.display input, table.display select, table.display textarea { font-size: 0.8em; }



/***** jQuery UI Layout styles ****/
div.ui-layout-toggler { background-color: gray; }


/****** File Input styles *********/
/**** https://coderwall.com/p/uer3ow  ***/
.fileContainer {
  overflow: hidden;
  position: relative;
}
.fileContainer input[type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.even {
    background: #efefef;
}

.dropdown ul.dropdown-menu li:hover ul.dropdown-menu {
  display:block; 
  position:absolute; 
  left:100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.dropdown ul.dropdown-menu ul.dropdown-menu {
  display: none;
  float:right;
  position: relative;
  top: auto;
  margin-top: -30px;
}

.control-group.warning .control-value {
  color: #c09853;
}
.control-group.error .control-value {
  color: #b94a48;
}
.control-group.success .control-value {
  color: #468847;
}
.control-group.info .control-value {
  color: #3a87ad;
}

  