/* custom css for use with Isotope Jquery plugin */
/* based on Frittata 1.4.1 css */


/*----------------------------------------------------------------------------*/
/*                              RESET & DEFAULTS                              */
/*----------------------------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	outline: none;
}
html, body, div, h1, h2, h3, h4, h5, h6, p {
	display: block;
	font-weight: 400;
}
html {
	height: 100%;
	overflow-y: scroll;
}
body {
	background-color: #e5e5e5;
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 1.55;
	color: #404040;
}
h1 {
	font-size: 36px;
	line-height: 40px;
}
h2 {
	font-size: 30px;
	line-height: 40px;
}
h3 {
	font-size: 24px;
	line-height: 30px;
}
h4 {
	font-style: italic;
	font-size: 16px;
	line-height: 20px;
	color: #808080;
}
dl, dt, dd, ul, ol, li {
	list-style: none;
	display: block;
}
form, input[type='text'], input[type='password'], textarea, button {
	display: block;
	border-radius: 0;
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 1.55;
	color: #404040;
	transition: background 0.3s;
	-o-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-webkit-transition: background 0.3s;
}
input[type='text'], input[type='password'], textarea {
	height: 20px;
	padding: 9px 9px;
	border: 1px solid #c0c0c0;
	background: #f2f2f2;
	-moz-appearance: none;
	-webkit-appearance: none;
}
textarea {
	height: 80px;
	resize: none;
}
input:focus, textarea:focus {
	background: none;
}
input[readonly], textarea[readonly],
input[readonly]:focus, textarea[readonly]:focus {
	background: #e5e5e5;	
}
:-moz-placeholder {
	color: #bfbfbf;	
}
::-webkit-input-placeholder {
	color: #bfbfbf;
}
button {
	height: 20px;
	padding: 10px 20px;
	background: #808080;
	color: #fff;
	cursor: pointer;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
button:focus, button:hover {
	background: #404040;
}
a {
	text-decoration: underline;
	color: #262626;
}
a:hover {
	text-decoration: none;
}



/*----------------------------------------------------------------------------*/
/*                                    ITEMS                                   */
/*----------------------------------------------------------------------------*/

/**/
/* bg */
/**/
.bg {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
}


/**/
/* loader */
/**/
.loader {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.loader div {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 140px;
	height: 140px;
	padding: 40px;
	margin: -110px 0 0 -110px;
	background: #fff;
}
.loader p {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 10px 20px;
}
.loader span {
	display: block;
	width: 120px;
	height: 120px;
	margin-top: -10px;
	border: 10px solid #404040;
	border-right-color: transparent;
	border-left-color: transparent;
	border-radius: 50%;
}
.loader span {
	animation:spin 1s linear infinite;
	-o-animation:spin 1s linear infinite;
	-ms-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite; 
	-webkit-animation:spin 1s linear infinite;
}
@keyframes spin
{
  0% {transform: rotate(0deg)}
  100% {transform: rotate(359deg)}
}
@-o-keyframes spin
{
  0% {-o-transform: rotate(0deg)}
  100% {-o-transform: rotate(359deg)}
}
@-ms-keyframes spin
{
  0% {-ms-transform: rotate(0deg)}
  100% {-ms-transform: rotate(359deg)}
}
@-moz-keyframes spin
{
  0% {-moz-transform: rotate(0deg)}
  100% {-moz-transform: rotate(359deg)}
}
@-webkit-keyframes spin
{
  0% {-webkit-transform: rotate(0deg)}
  100% {-webkit-transform: rotate(359deg)}
}


/**/
/* page */
/**/
.page {
	width: 960px;
	margin: 0 auto;
	padding: 30px 0;
	transition: height 0.6s, opacity 0.6s;
	-o-transition: height 0.6s, opacity 0.6s;
	-ms-transition: height 0.6s, opacity 0.6s;
	-moz-transition: height 0.6s, opacity 0.6s;
	-webkit-transition: height 0.6s, opacity 0.6s;
	opacity: 0;
}
.page.loaded {
	opacity: 1;
}


/**/
/* text */
/**/
.text {
	margin: 0 20px;
}
.text h1 {
	margin-bottom: 20px;
}
.text h2, 
.text h3 {
	margin: 40px 0 20px;
}
.text p,
.text ul,
.text ol {
	margin-top: 20px;
	font-size: 13px;
	line-height: 20px;
}
.text li {
	position: relative;
	margin-top: 5px;
	padding-left: 20px;
}
.text li ul,
.text li ol {
	margin-top: 0;
}
.text ul li:before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 6px;
	height: 4px;
	background: #404040;
}
.text ol {
	counter-reset: list1;
}
.text ol > li:before {
	counter-increment:list1;
	content: counter(list1)'.';
	position: absolute;
	top: 0;
	left: 0;
}
.text ol ol {
	counter-reset: list2;
}
.text ol ol li {
	padding-left: 30px;	
}
.text ol ol > li:before {
	counter-increment: list2;
	content: counter(list1) '.' counter(list2) '.';
	position: absolute;
	top: 0;
	left: 0;
}
.text a {
	color: #1ab2e8;
}
.columns {
	margin: 0 -20px;
}
.columns:after {
	content: '';
	display: table;
	clear: both;
}
.columns .column {
	float: left;
	padding: 0 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.columns .column2 {
	width: 33.33%;
}
.columns .column3 {
	width: 50%;
}
.columns .column4 {
	width: 66.66%;
}


/**/
/* items */
/**/
.item {
	position: relative;
	display: block;
	float: left;
	width: 460px;
	height: 220px;
	overflow: hidden;
	margin: 10px;
	background: #fff;
	text-decoration: none;
}
.item-small {
	width: 220px;	
}
.item-large {
	width: 700px;	
}
.isotope-item {
  z-index: 2;
}
.isotope-item.isotope-hidden {
  z-index: 1;
  pointer-events: none;
}
.isotope .isotope-item {
	transition: background 0.3s, color 0.3s, opacity 0.6s, transform 0.6s;
	-o-transition: background 0.3s, color 0.3s, opacity 0.6s, -o-transform 0.6s;
	-ms-transition: background 0.3s, color 0.3s, opacity 0.6s, -ms-transform 0.6s;
	-moz-transition: background 0.3s, color 0.3s, opacity 0.6s, -moz-transform 0.6s;
	-webkit-transition: background 0.3s, color 0.3s, opacity 0.6s, -webkit-transform 0.6s;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	transition-duration: 0s;
	-o-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;          
}


/**/
/* avatar item */
/**/
.item-avatar {
	z-index: 1;
	height: 230px;
}
.item-avatar img {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	width: 460px;
	height: 230px;
	margin-left: -230px;
}


/**/
/* welcome item */
/**/
.item-welcome {
	height: 80px;
	padding: 10px 0;
}
.item-welcome h1 {
	margin: 0 20px 20px 18px;
	font-weight: 300;
	color: #262626;
}
.item-welcome h1 strong {
	font-weight: 600;
}
.item-welcome p {
	margin: 0 20px;
}


/**/
/* navigation item */
/**/
.item-nav {
	height: 110px;
	font-size: 13px;
	line-height: 20px;
	font-weight: 600;
}
.item-nav ul {
	display: table;
	width: 100%;
	border-collapse: collapse;
}
.item-nav li {
	width: 20%;
	display: table-cell;
	border-left: 1px solid #e5e5e5;
	vertical-align: middle;
	text-align: center;
	transition: width 0.2s;
	-o-transition: width 0.2s;
	-ms-transition: width 0.2s;
	-moz-transition: width 0.2s;
	-webkit-transition: width 0.2s;
}
.item-nav li:first-child {
	border-left: 0;
}
.item-nav a {
	display: block;
	padding: 20px 0;
	text-decoration: none;
	color: #808080;
	transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
}
.item-nav a:hover {
	color: #404040;
}
.item-nav i {
	display: block;
	font-size: 29px;
	line-height: 50px;
	text-align: center;
	transition: font-size 0.2s;
	-o-transition: font-size 0.2s;
	-ms-transition: font-size 0.2s;
	-moz-transition: font-size 0.2s;
	-webkit-transition: font-size 0.2s;
}
.item-nav a:hover i {
	font-size: 35px;
}
.item-nav .active {
	color: #000;
}
.item-nav .active:hover {
	color: #000;
	cursor: default;
}
.item-nav .active i {
	font-size: 35px;	
}


/**/
/* skill item */
/**/
.item-skill p {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 10px 20px;
}
.item-skill div {
	position: relative;
	width: 140px;
	height: 140px;
	overflow: hidden;
	margin: 30px auto 0;
	border-radius: 50%;
	background: rgba(0,0,0,0.1);
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.item-skill span {
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 10px;
	display: block;
	width: 120px;
	height: 120px;
	background: #fff;
	border-radius: 50%;
	font-size: 34px;
	line-height: 120px;
	font-weight: 600;
	text-align: center;
}
noindex:-o-prefocus, .item-skill span:after { /* Opera hack */
	content: '';
	position: absolute;
	top: -10px;
	left: -10px;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background: transparent;
	box-shadow: 0 0 0 30px #fff;
}
.item-skill em {
	position: absolute;
	z-index: 1;
	display: block;
}
.item-skill em:after {
	content: '';
	position: absolute;	
}
.item-skill .value25 {
	top: 0;
	right: 0;
	bottom: 50%;
	left: 50%;
}
.item-skill .value50 {
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
}
.item-skill .value75 {
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
}
.item-skill .value75:after {
	top: 50%;
	right: 100%;
	bottom: 0;
	left: auto;
	width: 100%;
}
.item-skill .value100 {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


/**/
/* portfolio item */
/**/
.item-portfolio p {
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px 20px;
	text-shadow: 0 0 3px #000;
	color: #fff;
}
.item-portfolio img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}
.item-portfolio a,
.item-portfolio span {
	position: absolute;
	z-index: 1;
	top: 50%;
	display: block;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	border-radius: 50%;
	background: rgba(0,0,0,0.5);
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	opacity: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}
.item-portfolio .prev {
	left: 20px;
	padding-right: 2px;
	width: 38px;
	line-height: 42px;
}
.item-portfolio .next {
	right: 20px;
	padding-left: 2px;
	width: 38px;
	line-height: 42px;
}
.item-portfolio .zoom {
	left: 50%;
	margin-left: -20px;
}
.item-portfolio .active {
	z-index: 1;
	opacity: 1;	
}
.item-portfolio:hover a,
.item-portfolio:hover span {
	opacity: 1;
}


/**/
/* portfolio details */
/**/
.item-portfolio-details {
	height: auto;
	padding: 10px 0;
	/*opacity: 0;*/
}
.item-portfolio-details .pic {
	width: 660px;
	overflow: hidden;
	margin: 0 auto 20px;
	font-size: 0;
	text-align: center;
}
.item-portfolio-details .pic img {
	max-width: 100%;	
}
.item-portfolio-details .slideshow {
	position: relative;
	width: 660px;
	height: 316px;
	overflow: hidden;
	margin: 0 20px 20px;
}
.item-portfolio-details .slideshow img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;	
}
.item-portfolio-details .slideshow span {
	position: absolute;
	top: 50%;
	z-index: 1;
	display: block;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	border-radius: 50%;
	background: rgba(0,0,0,0.5);
	font-size: 30px;
	line-height: 62px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	opacity: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}
.item-portfolio-details .slideshow .prev {
	left: 30px;
	padding-right: 2px;
	width: 58px;
}
.item-portfolio-details .slideshow .next {
	right: 30px;
	padding-left: 2px;
	width: 58px;
}
.item-portfolio-details .slideshow .active {
	z-index: 1;
	opacity: 1;	
}
.item-portfolio-details .slideshow:hover span {
	opacity: 1;
}


/**/
/* next and prev items */
/**/
.item-next p, .item-prev p {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 10px 20px;
}
.item-next i, .item-prev i {
	display: block;
	font-size: 96px;
	line-height: 200px;
	text-align: center;
}


/**/
/* review item */
/**/
.item-review img {
	display: block;
	float: left;
	width: 80px;
	height: 80px;
	margin: 10px 20px 0;
	font-size: 30px;
	line-height: 60px;
	text-align: center;
}
.item-review dl {
	position: relative;
	padding: 10px 20px 20px;
	font-size: 14px;
	line-height: 20px;
}
.item-review dt {
	float: left;
	margin-right: 1ex;
}
.item-review dt:first-child {
	float: none;
	margin-bottom: 15px;
	font-size: 21px;
	line-height: 25px
}
.item-review p {
	padding: 0 20px;
	font-style: italic;
}
.item-review i {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 40px;
	line-height: 40px;
	color: #e5e5e5;
}


/**/
/* post item */
/**/
.item-post h3 {
	height: 25px;
	overflow: hidden;
	margin: 10px 20px;
	font-size: 20px;
	line-height: 25px	
}
.item-post p {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px 20px;
	color: #808080;
}
.item-post p span {
	float: right;
}
.item-post img {
	display: block;
	width: 420px;
	height: 135px;
	margin: 10px auto;
}
.item-post .icon-comment-alt {
	position: relative;
	top: -1px;
}
.item-small.item-post img {
	width: 180px;
}


/**/
/* post details */
/**/
.item-post-details {
	height: auto;
	padding: 10px 0;
	/*opacity: 0;*/
}
.item-post-details .pic {
	width: 660px;
	overflow: hidden;
	margin: 0 auto 20px;
	font-size: 0;
	text-align: center;
}
.item-post-details .pic img {
	max-width: 100%;	
}
.item-post-details dl {
	margin-top: 10px;
	padding: 10px 20px;
	background: #e5e5e5;
}
.item-post-details dt {
	margin: 30px 0 15px;
	font-size: 18px;
	line-height: 20px;
}
.item-post-details dt:first-child {
	margin-top: 0;
}
.item-post-details dt img {
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 20px;
}
.item-post-details dt span {
	display: block;
	float: right;
	font-size: 13px;
	color: #808080;
}
.item-post-details dd {
	padding-left: 80px;
	font-style: italic;
}
.item-post-details .lv2 {
	margin-left: 80px;
}
.item-post-details form h3 {
	margin: 10px 20px 20px;
}


/**/
/* newer and older items */
/**/
.item-newer p, .item-older p {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 10px 20px;
}
.item-newer i, .item-older i {
	display: block;
	font-size: 96px;
	line-height: 200px;
	text-align: center;
}


/**/
/* load more */
/**/
.item-more {
	width: 940px;
}
.item-more p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px 20px;
	text-shadow: none;
	color: #262626;
}
.item-more i {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	padding-bottom: 20px;
	font-size: 96px;
	line-height: 200px;
	text-align: center;
}
.item-more:hover {
	background: #262626;
	color: #fff;
}
.item-more:hover p {
	color: #fff;
}


/**/
/* social item */
/**/
.item-social p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px 20px;
}
.item-social i {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	padding-bottom: 20px;
	font-size: 96px;
	line-height: 200px;
	text-align: center;
}


/**/
/* map item */
/**/
.item-map {
	cursor: pointer;
}
.item-map p {
	right: 0;
	transition: background 0.3s;
	-o-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-webkit-transition: background 0.3s;
}
.item-map p span {
	display: none;
	float: right;
	text-decoration: underline;
	cursor: pointer;
}
.item-map span:hover {
	text-decoration: none;
}
.item-map i {
	z-index: 1;
	cursor: pointer;
}
.item-map .map {
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 0;
	width: 460px;
	height: 220px;
	opacity: 0;
	transition: top 0.3s, opacity 0.3s;
	-o-transition: top 0.3s, opacity 0.3s;
	-ms-transition: top 0.3s, opacity 0.3s;
	-moz-transition: top 0.3s, opacity 0.3s;
	-webkit-transition: top 0.3s, opacity 0.3s;
}
.item-map.active {
	cursor: default;
}
.item-map.active p {
	z-index: 2;
	background: #fff;
	color: #262626;
}
.item-map.active p span {
	display: block;
}
.item-map.active .map {
	top: 0;
	opacity: 1;
}


/**/
/* email item */
/**/
.item-email i {
	cursor: pointer;
}
.item-email form {
	position: absolute;
	top: 100%;
	left: 0;
	padding: 10px 20px;
	background: #fff;
	opacity: 0;
	transition: top 0.3s, opacity 0.3s;
	-o-transition: top 0.3s, opacity 0.3s;
	-ms-transition: top 0.3s, opacity 0.3s;
	-moz-transition: top 0.3s, opacity 0.3s;
	-webkit-transition: top 0.3s, opacity 0.3s;
}
.item-email input {
	float: left;
	width: 180px;
	margin: 0 0 20px 0;
}
.item-email input:first-child {
	margin-right: 20px;
}
.item-email textarea {
	width: 400px;
	height: 60px;
	margin-bottom: 20px;
}
.item-email button {
	float: right;
	margin-left: 20px;
}
.item-email .error {
	line-height: 40px;
	text-align: right;
	color: #b71c44;
}
.item-email .error em {
	font-size: 20px;
	color: #808080;
}
.item-email .success {
	line-height: 40px;
	text-align: right;
	color: #090;
}
.item-email.active form {
	top: 0;
	opacity: 1;
}


/**/
/* back item */
/**/
.item-back {
	margin-bottom: 11px;
}
.item-back p {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 10px 20px;
}
.item-back i {
	display: block;
	font-size: 96px;
	line-height: 200px;
	text-align: center;
}


/*----------------------------------------------------------------------------*/
/*                                BACKGROUNDS                                 */
/*----------------------------------------------------------------------------*/

/**/
/* blurred */
/**/
.bg-blur .bg {
	background-position: 50% 0;
	background-repeat: no-repeat;
}
.bg-blur1 {
	background-color: #5f7f8c;	
}
.bg-blur1 .bg {
	background-image: url(../img/blur01.jpg);
}
.bg-blur2 {
	background-color: #668bb7;
}
.bg-blur2 .bg {
	background-image: url(../img/blur02.jpg);
}
.bg-blur3 {
	background-color: #50011e;
}
.bg-blur3 .bg {
	background-image: url(../img/blur03.jpg);
}
.bg-blur4 {
	background-color: #eec198;
}
.bg-blur4 .bg {
	background-image: url(../img/blur04.jpg);
}
.bg-blur5 {
	background-color: #3896d3;
}
.bg-blur5 .bg {
	background-image: url(../img/blur05.jpg);
}
.bg-blur6 {
	background-color: #d2592e;
}
.bg-blur6 .bg {
	background-image: url(../img/blur06.jpg);
}
.bg-blur7 {
	background-color: #bdcbe5;
}
.bg-blur7 .bg {
	background-image: url(../img/blur07.jpg);	
}
.bg-blur8 {
	background-color: #648e3a;
}
.bg-blur8 .bg {
	background-image: url(../img/blur08.jpg);	
}
.bg-blur9 {
	background-color: #6ad0e6;
}
.bg-blur9 .bg {
	background-image: url(../img/blur09.jpg);	
}
.bg-blur10 {
	background-color: #d0dee1;
}
.bg-blur10 .bg {
	background-image: url(../img/blur10.jpg);	
}



/*----------------------------------------------------------------------------*/
/*                                 RESPONSIVE                                 */
/*----------------------------------------------------------------------------*/

/**/
/* wide */
/**/
@media screen and (min-width: 1210px) {
	.page {
		width: 1200px;
	}	
	.item-welcome {
		width: 940px;
	}
	
	.item-nav {
		width: 940px;
		font-size: 14px;
	}	
	.item-more {
		width: 1180px;
	}
}


/**/
/* pad */
/**/
@media screen and (max-width: 980px) {
	.page {
		width: 720px;
	}	
	.item-nav {
		width: 460px;
		font-size: 12px;
	}	
	.item-welcome {
		width: 460px;
		font-size: 12px;
	}
	.item-welcome h1 {
		margin-bottom: 15px;
		font-size: 26px;
		line-height: 30px;
	}
	.item-back {
		width: 700px;		
	}
	.item-more {
		width: 700px;		
	}
}


/**/
/* phone */
/**/
@media screen and (max-width: 767px) {
	body{
    -webkit-text-size-adjust: none;
  }
  
	.page {
		width: 480px;
		padding: 10px 0;
	}
	
	.item-avatar {
		width: 460px;
	}
	
	.item-back {
		width: 460px;		
	}
	
	.item-more {
		width: 460px;		
	}
	
	.item-portfolio-details {
		width: 460px;
	}
	.item-portfolio-details .pic {
		width: 420px;
	}
	.item-portfolio-details .slideshow {
		width: 420px;
		height: 200px;
	}
	
	.item-post-details {
		width: 460px;		
	}
	.item-post-details iframe {
		height: 280px;
	}
	.item-post-details .pic {
		width: 420px;
	}
	.item-post-details input {
		width: 400px;
	}
	.item-post-details textarea {
		width: 400px;
	}
}



/*----------------------------------------------------------------------------*/
/*                                   COLORS                                   */
/*----------------------------------------------------------------------------*/

/**/
/* red */
/**/
.item-color-red {
	color: #b71c44;
}
a.item-color-red:hover,
.item-color-red.item-skill em,
.item-color-red.item-skill em:after,
.item-color-red.item-email:hover {
	background: #b71c44;
	color: #fff;
}


/**/
/* orange */
/**/
.item-color-orange {
	color: #dd592f;
}
a.item-color-orange:hover,
.item-color-orange.item-skill em,
.item-color-orange.item-skill em:after,
.item-color-orange.item-email:hover {
	background: #dd592f;
	color: #fff;
}


/**/
/* yellow */
/**/
.item-color-yellow {
	color: #e5c72e;
}
a.item-color-yellow:hover,
.item-color-yellow.item-skill em,
.item-color-yellow.item-skill em:after,
.item-color-yellow.item-email:hover {
	background: #e5c72e;
	color: #fff;	
}


/**/
/* green */
/**/
.item-color-green {
	color: #090;
}
a.item-color-green:hover,
.item-color-green.item-skill em,
.item-color-green.item-skill em:after,
.item-color-green.item-email:hover {
	background: #090;
	color: #fff;
}


/**/
/* cyan */
/**/
.item-color-cyan {
	color: #1ab2e8;
}
a.item-color-cyan:hover,
.item-color-cyan.item-skill em,
.item-color-cyan.item-skill em:after,
.item-color-cyan.item-email:hover {
	background: #1ab2e8;
	color: #fff;	
}


/**/
/* blue */
/**/
.item-color-blue {
	color: #3b5998;
}
a.item-color-blue:hover,
.item-color-blue.item-skill em,
.item-color-blue.item-skill em:after,
.item-color-blue.item-email:hover  {
	background: #3b5998;
	color: #fff;	
}


/**/
/* purple */
/**/
.item-color-purple {
	color: #7a45e5;
}
a.item-color-purple:hover,
.item-color-purple.item-skill em,
.item-color-purple.item-skill em:after,
.item-color-purple.item-email:hover {
	background: #7a45e5;
	color: #fff;	
}


/**/
/* pink */
/**/
.item-color-pink {
	color: #ea4c89;
}
a.item-color-pink:hover,
.item-color-pink.item-skill em,
.item-color-pink.item-skill em:after,
.item-color-pink.item-email:hover {
	background: #ea4c89;
	color: #fff;	
}